@import "~carbon-components/scss/globals/scss/styles.scss";
@import '~carbon-components/scss/globals/scss/css--font-face';
@import '~carbon-components/scss/globals/grid/grid';
@import '~@carbon/themes/scss/themes';

.App {
  text-align: center;
}

.App-logo {
 // height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none
     infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0062ff;
  font-family: fantasy;
  font-weight: 800;
  font-size: x-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
